In [1]:
import pandas as pd
from pandas_datareader import data

In [2]:
companies = ["MSFT", "GOOG", "AAPL" , "AMZN", "TSLA"]

In [3]:
p = data.DataReader(name = companies, data_source = "yahoo", start = "2010-01-01", end = "2021-03-24")

In [4]:
p

Attributes   Adj Close                                                    \
Symbols           MSFT         GOOG        AAPL         AMZN        TSLA
Date
2010-01-04   24.049969   312.204773    6.583586   133.899994         NaN
2010-01-05   24.057743   310.829926    6.594968   134.690002         NaN
2010-01-06   23.910097   302.994293    6.490066   132.250000         NaN
2010-01-07   23.661432   295.940735    6.478067   130.000000         NaN
2010-01-08   23.824627   299.885956    6.521136   133.520004         NaN
...                ...          ...         ...          ...         ...
2021-03-18  230.720001  2036.219971  120.529999  3027.989990  653.159973
2021-03-19  230.350006  2043.199951  119.989998  3074.959961  654.869995
2021-03-22  235.990005  2038.589966  123.389999  3110.870117  670.000000
2021-03-23  237.580002  2052.959961  122.540001  3137.500000  662.159973
2021-03-24  235.460007  2045.060059  120.089996  3087.070068  630.270020

Attributes       Close                                                    ...  \
Symbols           MSFT         GOOG        AAPL         AMZN        TSLA  ...
Date                                                                      ...
2010-01-04   30.950001   312.204773    7.643214   133.899994         NaN  ...
2010-01-05   30.959999   310.829926    7.656429   134.690002         NaN  ...
2010-01-06   30.770000   302.994293    7.534643   132.250000         NaN  ...
2010-01-07   30.450001   295.940735    7.520714   130.000000         NaN  ...
2010-01-08   30.660000   299.885956    7.570714   133.520004         NaN  ...
...                ...          ...         ...          ...         ...  ...
2021-03-18  230.720001  2036.219971  120.529999  3027.989990  653.159973  ...
2021-03-19  230.350006  2043.199951  119.989998  3074.959961  654.869995  ...
2021-03-22  235.990005  2038.589966  123.389999  3110.870117  670.000000  ...
2021-03-23  237.580002  2052.959961  122.540001  3137.500000  662.159973  ...
2021-03-24  235.460007  2045.060059  120.089996  3087.070068  630.270020  ...

Attributes        Open                                                    \
Symbols           MSFT         GOOG        AAPL         AMZN        TSLA
Date
2010-01-04   30.620001   312.304413    7.622500   136.250000         NaN
2010-01-05   30.850000   312.418976    7.664286   133.429993         NaN
2010-01-06   30.879999   311.761444    7.656429   134.600006         NaN
2010-01-07   30.629999   303.562164    7.562500   132.009995         NaN
2010-01-08   30.280001   294.894653    7.510714   130.559998         NaN
...                ...          ...         ...          ...         ...
2021-03-18  232.559998  2061.000000  122.879997  3101.000000  684.289978
2021-03-19  231.020004  2042.050049  119.900002  3029.229980  646.599976
2021-03-22  230.270004  2041.839966  120.330002  3067.850098  684.590027
2021-03-23  237.490005  2051.699951  123.330002  3127.000000  675.770020
2021-03-24  237.850006  2065.370117  122.820000  3151.040039  667.909973

Attributes      Volume
Symbols           MSFT        GOOG         AAPL        AMZN        TSLA
Date
2010-01-04  38409100.0   3927065.0  493729600.0   7599900.0         NaN
2010-01-05  49749600.0   6031925.0  601904800.0   8851900.0         NaN
2010-01-06  58182400.0   7987226.0  552160000.0   7178800.0         NaN
2010-01-07  50559700.0  12876685.0  477131200.0  11030200.0         NaN
2010-01-08  51197400.0   9484016.0  447610800.0   9830500.0         NaN
...                ...         ...          ...         ...         ...
2021-03-18  34833000.0   1361400.0  121229700.0   3649600.0  33224800.0
2021-03-19  46410700.0   2314400.0  185023200.0   4616400.0  42827400.0
2021-03-22  30127000.0   1954800.0  111912300.0   2902200.0  39512200.0
2021-03-23  31638400.0   1367000.0   95467100.0   3817300.0  30491900.0
2021-03-24  25602800.0   1153300.0   88322700.0   2953900.0  33684600.0

[2825 rows x 30 columns]

In [5]:
p.shape

(2825, 30)

In [6]:
p.ndim

2

In [12]:
(p["Close"])

Symbols           MSFT         GOOG        AAPL         AMZN        TSLA
Date
2010-01-04   30.950001   312.204773    7.643214   133.899994         NaN
2010-01-05   30.959999   310.829926    7.656429   134.690002         NaN
2010-01-06   30.770000   302.994293    7.534643   132.250000         NaN
2010-01-07   30.450001   295.940735    7.520714   130.000000         NaN
2010-01-08   30.660000   299.885956    7.570714   133.520004         NaN
...                ...          ...         ...          ...         ...
2021-03-18  230.720001  2036.219971  120.529999  3027.989990  653.159973
2021-03-19  230.350006  2043.199951  119.989998  3074.959961  654.869995
2021-03-22  235.990005  2038.589966  123.389999  3110.870117  670.000000
2021-03-23  237.580002  2052.959961  122.540001  3137.500000  662.159973
2021-03-24  235.460007  2045.060059  120.089996  3087.070068  630.270020

[2825 rows x 5 columns]

In [18]:
p.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2021-03-11', '2021-03-12', '2021-03-15', '2021-03-16',
                '2021-03-17', '2021-03-18', '2021-03-19', '2021-03-22',
                '2021-03-23', '2021-03-24'],
               dtype='datetime64[ns]', name='Date', length=2825, freq=None),
 MultiIndex([('Adj Close', 'MSFT'),
             ('Adj Close', 'GOOG'),
             ('Adj Close', 'AAPL'),
             ('Adj Close', 'AMZN'),
             ('Adj Close', 'TSLA'),
             (    'Close', 'MSFT'),
             (    'Close', 'GOOG'),
             (    'Close', 'AAPL'),
             (    'Close', 'AMZN'),
             (    'Close', 'TSLA'),
             (     'High', 'MSFT'),
             (     'High', 'GOOG'),
             (     'High', 'AAPL'),
             (     'High', 'AMZN'),
             (     'High', 'TSLA'),
             (      'Low', 'MSFT'),
             (      'Low', 'GOOG'),
             (      'Low', 'AAPL'),
             (      'Low', 'AMZN'),
             (      'Low', 'TSLA'),
             (     'Open', 'MSFT'),
             (     'Open', 'GOOG'),
             (     'Open', 'AAPL'),
             (     'Open', 'AMZN'),
             (     'Open', 'TSLA'),
             (   'Volume', 'MSFT'),
             (   'Volume', 'GOOG'),
             (   'Volume', 'AAPL'),
             (   'Volume', 'AMZN'),
             (   'Volume', 'TSLA')],
            names=['Attributes', 'Symbols'])]

In [26]:
p["Close"]["AAPL"]

Date
2010-01-04      7.643214
2010-01-05      7.656429
2010-01-06      7.534643
2010-01-07      7.520714
2010-01-08      7.570714
                 ...
2021-03-18    120.529999
2021-03-19    119.989998
2021-03-22    123.389999
2021-03-23    122.540001
2021-03-24    120.089996
Name: AAPL, Length: 2825, dtype: float64